.repo {
   border: solid 2px #ba92ff;
   padding: 20px;
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 10px 0;
   border-radius: 10px;
   font-size: 1.5rem;
   box-sizing: border-box;
   background-color: #fcfceb;

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__name {
      font-size: 2rem;
      line-height: .5;
      margin: 15px 0 25px;
      color: #ba92ff;
   }
   &__stars {

   }
   &__last-commit {

   }
   &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__link {
      color: #f36ff1;
      justify-self: end;
   }
}
