.repo {
   border: solid 2px #ba92ff;
   padding: 20px;
   display: flex;
   flex-direction: column;
   min-width: 100%;

   &__header {
   }

   &__name {

   }
   &__stars {

   }
   &__last-commit {

   }

   &__link {

   }
}
